body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prsng-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
}

.demand {
    min-width: 50%;
}

.input {
    min-width: 95%;
    min-height: 2rem;
    margin: auto;
}

.ransom-output {
    min-width: 95%;
}

.user-words {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-word {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(176, 184, 255);
    border-radius: 10px;
    min-width: 50px;
}

.words-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ransom-letters, .ransom-words {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
}

.ransom-words {
    border: 1px solid rgb(176, 184, 255);
}

.ransom-word {
    /* border: 1px solid purple; */
    margin: 10px;
}

.ransom-letter {
    /* border: 1px solid red; */
    margin: 2px;
}

