body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prsng-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
}


.demand {
    min-width: 55%;
}

.input {
    min-width: 95%;
    min-height: 2rem;
    margin: auto;
}

.hint-container {
    height: 2rem;
}

.hint {
    font-size: smaller;
    color: rgb(41, 55, 178);
    position: absolute;
}

.prsng-body, .ransom-output, .language-select {
    min-width: 75%;
}

.language-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.language-option {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid rgb(176, 184, 255);
    border-radius: 7px;
}

.selected-lang {
    background-color: rgba(193, 199, 253, 0.25);
    border: 2px solid rgba(141, 152, 251, 0.5);
}

.ransom-output {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.manifest-panel {
    width: 25%;
    padding: 5px 10px;
}

.ransom-words {
    width: 70%;
    color: rgba(0, 0, 0, 0);
}

.ransom-words, .manifest-panel {
    border: 1px solid rgb(176, 184, 255);
    border-radius: 15px;
    margin: 1rem auto;
    min-height: 50vh;
}

.ransom-letters, .ransom-words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.ransom-word:hover {
    border: 1px solid rgb(193, 199, 253);
    border-radius: 15px;
    color: black;
}

.word {
    margin: 10px;
}

.letter {
    margin: 0;
    display: inline-block;
}

.remove, .refresh {
    text-align: center;
    padding: 7px;
    margin: 0 auto;
}

.remove:hover, .refresh:hover {
    background-color: rgba(193, 199, 253, 0.25);
}

.remove:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.refresh:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

@media screen and (max-width: 450px) {
    .prsng-body, .ransom-output {
        min-width: 95%;
    }
    .demand, .ransom-words, .manifest-panel {
        min-width: 90%;
    }
    .ransom-output {
        flex-direction: column;
    }
}
