body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prsng-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
}

.demand {
    min-width: 55%;
}

.input {
    min-width: 95%;
    min-height: 2rem;
    margin: auto;
}

.prsng-body, .ransom-output {
    min-width: 75%;
}

.language-select {
    display: flex;
    flex-direction: row;
}

.language-option {
    margin: 5px;
    border: 1px solid white;
}

.ransom-letters, .ransom-words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.ransom-words {
    border: 1px solid rgb(176, 184, 255);
    border-radius: 15px;
    max-width: 95%;
    min-height: 50vh;
    margin: 1rem auto;
    color: rgba(0, 0, 0, 0);
}

.ransom-word:hover {
    border: 1px solid rgb(193, 199, 253);
    color: black;
}

.word {
    margin: 10px;
}

.letter {
    margin: 2px;
}

.remove, .refresh {
    text-align: center;
    font-size: smaller;
}

.remove:hover, .refresh:hover {
    font-weight: bolder;
}

